extends layout
//- File Name: Aboutus.pug
//- Author: Steven Davies, Kelsey Guenette-Wilson
//- Website Name: www.sdavies.ca
//- Description: This is the About Me page for the site.
//- Updated : 2019-10-13
block content
	section#aboutMe
		//- Bootstrap content below
		h1.Heading1
			h1.text-center About Us
			br
			.container-fluid
				.row
					.col-xl-12.text-center
						h5 ABOUT US:
					//- Centered Aboout me text. 	
					.aboutMe.text-center 
						br
						p
							| Surveys and Polls is a web service dedicated to bringing you a user friendly and seamless solution to
							| your surveying needs. Based out of a small office in Toronto, we are a small and family oriented
							| business. We pride ourselves on working with our users to continue to evolve and become a better
							| resource.
						p Follow us and look forward to our future work! 

