//-File Name: create-survey.pug
//-Author: Kelsey
//-Website Name: www.sdavies.ca
//-Description: This page is the page from which a user can select which type of survey they want to create. Three buttons each leading to the correct survey creation page
//-             Possible pages are truefalse.pug, multichoice.pug and textarea.pug.*/

extends layout

block content

    .selectSurveyMain

        .selectSurveryText
            h2 What Type of Survey Would You Like to Create?

            //- buttons to creation pages for each survey. Need to add functionality after verifying true/false, multichoice and textarea page usages
            a#createSurveyButton.btn.btn-primary(href='/multichoice', role='button') Multiple Choice
            a#createSurveyButton.btn.btn-primary(href='/truefalse', role='button') True or False
            a#createSurveyButton.btn.btn-primary(href='/textarea', role='button') Text-Based
            //- button#createSurveyButton(type='button', onclick="location.href='/multichoice'") Multiple Choice
            
            //- button#createSurveyButton(type='button', onclick="location.href='/truefalse'") True Or False
            
            //- button#createSurveyButton(type='button', onclick="location.href='/textarea'") Text-based
