//- Finalize text (current is filler), fix opacity being applied to text in the center of the page (???), add slide carousel
extends layout

block content

  .home-bg

  #home-section
    h1 Welcome to the Survery Generator

    #intro.col-med-3
      p We endeaver to bring you a seamless experience between creating your surveys and viewing the end results from your target audiences. The world is vast and full of unknown opinions. Together we will bring them to light and embolden you for success.
