//-File Name: index.pug
//-Author: Kelsey
//-Website Name: www.sdavies.ca
//-Description: This is our app's home page. A carousel welcomes users, flaunts our status and informs users what kind of survey creation they can find on the site. The
//-             second half of the page contains a small resource sections about avoiding bias, tips to build a good survey. */
extends layout

block content

  //-.home-bg

  .home-section

    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
        li(data-target='#carouselExampleIndicators', data-slide-to='1')
        li(data-target='#carouselExampleIndicators', data-slide-to='2')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='/images/Welcome-transp.png', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='/images/Top-10-Transp.png', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='/images/Types-Transp.png', alt='Third slide')
      a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
        #intro.col-med-3

  article#homeSection2
    .row.container.largepanel.center
      h2(style='margin-bottom: 30px;')
        | Ready to Create Your Own Survey?
      
      p.center-text 
          | Before jumping in to create a survey, take time to consider what it is you are looking to 
          | ask your audience. The effects of asking the wrong audience, surveyer bias, unclear 
          | questions in your survey can be detrimental to your results. We've provided some starter 
          | resources below to get you thinking about how to build the best survey to get the 
          | information you need as well as how to format your data afterwards for results.

      .resourcesSection
        
        a#resourceLinks(href='https://www.qualtrics.com/blog/10-tips-for-building-effective-surveys/')
          img(alt='Tips to Build an Effective Survey', src='/images/Effective-Surveys.png', width='110"', height='150')
        a#resourceLinks(href='https://www.surveygizmo.com/resources/blog/designing-surveys/')
          img(alt='Things to Consider When Designing a Survey', src='/images/10-Consider.png', width='110"', height='150')
        a#resourceLinks(href='https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2917255/')
          img(alt='Avoiding Bias in Your Surveys', src='/images/Avoid-Bias.png', width='110"', height='150')
        a#resourceLinks(href='https://en.wikipedia.org/wiki/Normalization_(statistics)')
          img(alt='What is Normalization of Data?', src='/images/Normalization.png', width='110"', height='150')
