extends layout
//- File Name: results.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the About Me page for the site.
//- Updated : 2019-10-13
block content
  //- Bootstrap content below
  h1.Heading1
    h1#txtHead.text-center Results:
    br
    .container-fluid
      .row
        .col-xl-12.text-center
          h5 Results Page:
        //- Centered Aboout me text. 	
        .aboutMe.text-center 
          br
          p Hello and welcome to our page.