extends layout
//- File Name: AboutMe.pug
//- Author: Steven Davies
//- Website Name: www.sdavies.ca
//- Description: This is the About Me page for the site.
//- Updated : 2019-10-13
block content
  //- Bootstrap content below
  h1.Heading1
    h1.text-center Surveys
    br
    .container-fluid
      .row
        .col-xl-12.text-center
          h5 Please select a survey:
        //- Centered Aboout me text. 	

